.App {
  text-align: center;
}
.main-page{
  display: flex;
  flex-direction: column;
}
.main-page h1{
  text-align: center;
  font-size: 3rem;
}
.main-title{
  display: flex;
  margin-top: 2rem;
  z-index: 999;
}
.title{
  margin-bottom: -1px;
  padding: 0.3rem;
  margin-right: 0.1rem;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}
.bottom-none{
  border-bottom: none;
}