.App {
  text-align: center;
}
.main-page{
  display: flex;
  flex-direction: column;
}
.main-title{
  display: flex;
  /* width:30rem; */
  margin-top: 2rem;
  /* justify-content: space-between; */
  /* padding-right: rem; */
  
  
  z-index: 999;
}
.title{
  margin-bottom: -1px;
  padding: 0.3rem;
  margin-right: 0.1rem;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  /* border-bottom: none; */
}
.bottom-none{
  border-bottom: none;
}